body {
  font-family: "Rubik", sans-serif;
}

#pricing,
#services {
  background-color: #1ee688;
  margin: 2em 0;
  padding: 2em 0;
}

.navbar-color,
.jumbotron {
  background-color: #16a662;
}

.blockquote,
.blockquote-footer {
  font-family: "Pacifico", cursive;
}

.navbar-brand {
  color: white;
  font-size: 2.5rem;
  font-weight: 900;
}

.nav-link {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
}

.quote {
  text-align: center;
  color: #0c5935;
  font-size: 2.5rem;
  font-weight: 900;
}

.btn {
  background-color: #16a662;
  color: white;
}

.btn:hover {
  color: #16a662;
  background-color: #fff;
  outline: #16a662;
}

.footer {
  text-align: center;
  background-color: #16a662;
  color: white;
  padding: 2rem;
}

a {
  color: white;
}
